body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(193, 35, 199);
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart{
    position: fixed;
    top: 0;
    font-size: 50px;
    animation: fall 4s linear forwards;
}

@keyframes fall {
    to{
        transform: translateY(100vh);
        opacity: 0;
    }
}
